body{
  background:gray;
  font-family:sans-serif
}

h1{
  color:white;
  background:darkgray;
  text-align:center;
  padding:0%;
  margin:0
}

.wrapper{
  display:grid;
  grid-template-columns:2;
  background-color:#747574
}

.nav{
  grid-column:1/2;
  padding-left:10%;
  padding-right:10%
}

ul{
  list-style:none;
  padding-left:0%;
  width:100px
}

a{
  text-decoration:none;
  color:Gainsboro;
  font-weight:bold
}

.text{
  grid-column:2/2;
  padding-left:15%
}

.footer{
  text-align:right;
  color:#797979;
  background:#606060;
  padding:15px;
  padding-bottom:0;
  margin:0
}
